<div class="grid grid-cols-12 gap-4 border-b border-gray-200 bg-white pb-4 dark:border-gray-700 dark:bg-gray-900">
  <div class="col-span-full mx-4 mt-4">
    <nav class="mb-4 flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <% @breadcrumbs.each_with_index do |crumb, index| %>
          <li class="<%= 'inline-flex items-center' if index == 0 %>">
            <% if index == @breadcrumbs.size - 1 %>
              <%# Last item without link %>
              <div class="flex items-center">
                <%= breadcrumb_separator unless index == 0 %>
                <span class="ms-1 text-sm font-medium text-gray-700 dark:text-gray-400 md:ms-2">
                  <%= crumb[:name] %>
                </span>
              </div>
            <% else %>
              <%# Link items %>
              <%= link_to crumb[:path], class: "inline-flex items-center gap-2 text-sm font-medium text-gray-700 hover:text-primary-700 dark:text-gray-400 dark:hover:text-white md:ms-2" do %>
                <%= inline_svg_tag("icons/home.svg", class: "w-5 h-5") if index == 0 %>
                <span><%= crumb[:name] %></span>
              <% end %>
              <%= breadcrumb_separator unless index == @breadcrumbs.size - 2 %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </nav>
  </div>
</div>
