<button type="button" id="dropdownButton" aria-hidden="true" data-dropdown-toggle="dropdownMenu" class="inline-flex justify-center p-2 text-gray-500 cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" data-components--dropdowns-target="dropdownButton">
  <span class="fi fi-<%= flag_icon_class(I18n.locale) %>"></span>
</button>
<div class="hidden my-4 w-36 text-base list-none bg-white divide-y divide-gray-100 shadow dark:bg-gray-700" id="dropdownMenu" data-components--dropdowns-target="dropdownMenu">
  <ul class="py-1" role="none" aria-labelledby="dropdownButton">
    <% I18n.available_locales.each do |locale| %>
      <li class="flex items-center p-2">
        <% if I18n.locale == locale %>
          <i class="fi fi-<%= flag_icon_class(locale) %> mr-2"></i>
          <%= t(locale, scope: 'locales') %>
        <% else %>
          <%= link_to url_for(locale: locale), class: 'flex items-center' do %>
            <i class="fi fi-<%= flag_icon_class(locale) %> mr-2"></i>
            <%= t(locale, scope: 'locales') %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
