<!DOCTYPE html>
<html class="scroll-smooth">
  <head lang="<%= I18n.locale %>">
    <title></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta name="theme-color" content="#ffffff">
    <meta name="turbo-cache-control" content="no-cache">

    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body class="bg-white dark:bg-gray-900 antialiased">
    <header>
      <%= render(NavbarComponent.new user: current_user) %>
    </header>

    <div class="flex overflow-hidden bg-gray-50 pt-[62px] dark:bg-gray-900">
      <%= render(Sidebars::DefaultComponent.new user: current_user) %>
      <div id="flash">
        <%= render partial: "shared/notifications" %>
      </div>
      <div class="fixed inset-0 z-10 hidden" id="sidebarBackdrop"></div>
      <div data-sidebar-target="mainContent" id="main-content" class="relative h-full w-full overflow-x-scroll bg-gray-50 dark:bg-gray-900 lg:ms-64">
        <main>
          <%= yield %>
          <%= turbo_frame_tag "modal" %>
        </main>
      </div>
    </div>
  </body>
</html>
